
 * Given a network traffic dataset, develop a machine learning model that can accurately 
 classify each network connection as either normal or malicious. The model should be 
 able to identify different types of attacks, such as Denial of Service (DoS), Probe, 
 User to Root (U2R), and Remote to Local (R2L) attacks.

In [1]:
import pandas as pd

In [2]:
#dataset for training
train_data = ('C:\\Users\\agark\\OneDrive\\Desktop\\netowrk anomality\\NeuralNet_Watchdog\\data\\data\\raw\\KDDTrain+.csv')

In [3]:
#loading the dataset into dataframe
df = pd.read_csv(train_data,header=None)

In [4]:
#checking the shape
print(df.shape)

(125973, 43)

In [5]:
# checking the size
df.size

5416839

In [6]:
df.describe()

,0,4,5,6,7,8,9,10,11,12,...,32,33,34,35,36,37,38,39,40,42
count,125973.00000,1.259730e+05,1.259730e+05,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,...,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000
mean,287.14465,4.556674e+04,1.977911e+04,0.000198,0.022687,0.000111,0.204409,0.001222,0.395736,0.279250,...,115.653005,0.521242,0.082951,0.148379,0.032542,0.284452,0.278485,0.118832,0.120240,19.504060
std,2604.51531,5.870331e+06,4.021269e+06,0.014086,0.253530,0.014366,2.149968,0.045239,0.489010,23.942042,...,110.702741,0.448949,0.188922,0.308997,0.112564,0.444784,0.445669,0.306557,0.319459,2.291503
min,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000
50%,0.00000,4.400000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,63.000000,0.510000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
75%,0.00000,2.760000e+02,5.160000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,255.000000,1.000000,0.070000,0.060000,0.020000,1.000000,1.000000,0.000000,0.000000,21.000000
max,42908.00000,1.379964e+09,1.309937e+09,1.000000,3.000000,3.000000,77.000000,5.000000,1.000000,7479.000000,...,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000

In [22]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,label,42
0,0,1,20,9,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,2,44,9,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,1,49,5,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly,19
3,0,1,24,9,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,1,24,9,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

In [23]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,label,42
125968,0,1,49,5,0,0,0,0,0,0,...,0.10,0.06,0.00,0.0,1.00,1.0,0.00,0.0,anomaly,20
125969,8,2,49,9,105,145,0,0,0,0,...,0.96,0.01,0.01,0.0,0.00,0.0,0.00,0.0,normal,21
125970,0,1,54,9,2231,384,0,0,0,0,...,0.12,0.06,0.00,0.0,0.72,0.0,0.01,0.0,normal,18
125971,0,1,30,5,0,0,0,0,0,0,...,0.03,0.05,0.00,0.0,1.00,1.0,0.00,0.0,anomaly,20
125972,0,1,20,9,151,0,0,0,0,0,...,0.30,0.03,0.30,0.0,0.00,0.0,0.00,0.0,normal,21

In [25]:
df.columns

Index([      0,       1,       2,       3,       4,       5,       6,       7,
             8,       9,      10,      11,      12,      13,      14,      15,
            16,      17,      18,      19,      20,      21,      22,      23,
            24,      25,      26,      27,      28,      29,      30,      31,
            32,      33,      34,      35,      36,      37,      38,      39,
            40, 'label',      42],
      dtype='object')

In [26]:
df.columns[-2:]

Index(['label', 42], dtype='object')

In [37]:
df.shape

(125973, 43)

In [38]:
#Finding the count of the normal and abnormal network traffic
df['label'].value_counts()

label
normal     67343
anomaly    58630
Name: count, dtype: int64

In [41]:
#classifys the different kind of attacks together as anomaly
df['label'] = df['label'].apply(lambda x: "normal" if x =="normal" else "anomaly")

In [40]:
df['label'].value_counts()

label
normal     67343
anomaly    58630
Name: count, dtype: int64

# Encoding column
    * protocol_type (1)
    * service (2)
    * flag (3)
 Using labelEncoder

In [42]:
#checking data types of columns
df.dtypes.value_counts()

int64      27
float64    15
object      1
Name: count, dtype: int64

In [43]:
df.select_dtypes(include=['object']).head()

     label
0   normal
1   normal
2  anomaly
3   normal
4   normal

In [44]:
from sklearn.preprocessing import LabelEncoder

In [45]:
encoder = LabelEncoder()    
for col in [1,2,3]:
    df[col] = encoder.fit_transform(df[col])

In [46]:
df.dtypes.value_counts()

int64      27
float64    15
object      1
Name: count, dtype: int64

In [20]:
df.rename(columns={df.columns[41]: "label"}, inplace=True)

In [47]:
output = "C://Users//agark//OneDrive//Desktop//netowrk anomality//NeuralNet_Watchdog//data//processed//cleaned_KDDTrain.csv"
df.to_csv(output,index=False)